<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <DataAccessSettings>
    <add key="COSMOS_Service" value="Ni0Q5+CSKr5AxANkccly/Q==" />
    <add key="COSMOS_Username" value="qEP7PV/NUh2hwLAusYTknA==" />
    <add key="COSMOS_Password" value="qEP7PV/NUh2hwLAusYTknA==" />
    <add key="LVS3_Service" value="Ni0Q5+CSKr5AxANkccly/Q==" />
    <add key="LVS3_Username" value="qEP7PV/NUh2hwLAusYTknA==" />
    <add key="LVS3_Password" value="qEP7PV/NUh2hwLAusYTknA==" />
  </DataAccessSettings>
  <AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <VisionSystem>172.17.92.221|5000|9600|None|8|1</VisionSystem>
    <ProductVersion>1.0.0.0</ProductVersion>
    <_OPERATOR>OPERATOR</_OPERATOR>
    <_SO>SENIOR OPERATOR</_SO>
    <_SUPERVISOR>SUPERVISOR</_SUPERVISOR>
    <_MANAGER>MANAGER</_MANAGER>
    <_ADMINISTRATOR>ADMINISTRATOR</_ADMINISTRATOR>
    <_ENGINEER>ENGINEER</_ENGINEER>
    <_QC>QUALITY CONTROL</_QC>
    <ProductVersion>1.0.0.0</ProductVersion>
    _OPERATOR
    <JobFile>LPN.dat</JobFile>
    <ProductTemplate>product.dat</ProductTemplate>
    <PrimaryTemplate>primary.dat</PrimaryTemplate>
    <PLC_IPAddress>172.17.92.225</PLC_IPAddress>
    <PLC_PortNumber>5002</PLC_PortNumber>
    <PLC_CPUType>34</PLC_CPUType>
    <PLC_Network>1</PLC_Network>
    <PLC_SourceNetwork>1</PLC_SourceNetwork>
    <PLC_Station>1</PLC_Station>
    <PLC_SourceStation>2</PLC_SourceStation>
    <PLC_BaudRate>57600</PLC_BaudRate>
    <PLC_Parity>1</PLC_Parity>
    <PLC_232PortNumber>2</PLC_232PortNumber>
    <PLC_Type>TCP/IP</PLC_Type>
    <COSMOS_LINK>@LNK_COSMOS</COSMOS_LINK>
    <Package>albiglutide_pkg</Package>
    <DeviceCommsTimeOut>20</DeviceCommsTimeOut>
    <ProductionTimeOut>10</ProductionTimeOut>
    <ValidLabelStatuses>3,4,5,12,14,15</ValidLabelStatuses>
    <LVS3_Scanner>127.0.0.3|COM1|38400|None|8|1</LVS3_Scanner>
    <PrinterPen>172.17.92.227|COM3|9600|None|8|1|None|0</PrinterPen>
    <PrinterCarton>172.17.92.227|COM4|9600|None|8|1|None|0</PrinterCarton>
    <ProductQuantity>4</ProductQuantity>
    <PrimaryQuantity>1</PrimaryQuantity>
    <SecondaryQuantity>0</SecondaryQuantity>
    <TertiaryQuantity>0</TertiaryQuantity>
    <VisionFailPort>6002</VisionFailPort>
  

</AppSettings>
</configuration>